
body {
  background: #cfd8dc;
	color: #37474f;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
.App-heading {
  display: flex;
  justify-content: center;
}

.Timers{
  display: flex;
  justify-content: center;
}

.card {
  min-width: 275;
}

.Stopwatch-header {
  text-align: center;
}
.Stopwatch-display{
  padding: 40px 0;
  font-size: 48px;

}
.btn-stopwatch {
    text-align: center;
} 


.btn-start {
  background-color: #4caf50;

}
.btn-start:hover {
  background-color: #00e676;
}